<h1><%= @link.title %></h1>

<ul>
  <li>
    <%= @link.url %>
  </li>
  <li>Subs:
    <% @link.subs.each do |sub| %>
      <a href="<%= sub_url(sub) %>"><%= sub.name %></a>
    <% end %>
  </li>
</ul>

<p>
  <%= @link.text %>
</p>

<% unless @comments.empty? %>
<h4>
  Comments:
</h4>
<ul>
<% @comments.values.each do |child_comment| %>
  <li>
    <%= render "shared/comment" comment_hash: child_comment %>
  </li>
<% end %>
</ul>
<% end %>

