<h1><%= @link.title %></h1>

<ul>
  <li>
    <%= @link.url %>
  </li>
  <li>Subs:
    <% @link.subs.each do |sub| %>
      <a href="<%= sub_url(sub) %>"><%= sub.name %></a>
    <% end %>
  </li>
</ul>

<p>
  <%= @link.text %>
</p>

<h2>Comments</h2>
<%= link_to "Add Comment:", new_link_comment_url(params[:id]) %><br><br>

<ul>
  <% comments_by_parent = @link.comments_by_parent %>
  <% comments_by_parent[nil].each do |top_level_comments| %>
    <li>
      <%= comment_partial(top_level_comments, comments_by_parent) %>
    </li>
  <% end %>
</ul>

